TEST_USER_EMAIL=usuario_registrado@example.com
TEST_USER_PASSWORD=contraseña_segura
INVALID_USER_EMAIL=usuario.inexistente@example.com
INVALID_USER_PASSWORD=PasswordIncorrecto123!
REQRES_API_KEY=reqres_free_xxxxxxxxx